#For useState()
-----------------------------------------------------------------------------------------------------------------------------

* {
  margin: 0;
}
.app {
  text-align: center;
  margin-top: 70px;

}
body {
  background-color: black;
}

.app__body{
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color:gray;
  margin-top: 150px;
  margin-left: 350px;

}
