.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  .btn_container_top {
      display: flex;
      justify-content: space-around;
  }

.text {
   color: rgb(79, 24, 182);
   font-size: 60px;
   font-weight: bold;
}

.counter{
    margin-bottom: 50px;
    margin-top: 50px;
}
